body {
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: cover;
  font-family: fantasy;
  font-size: 20px;
}

h1 {
  color: orange;
  font-size: 40px; 
  margin-top: 30px;
}
#info {
  color: orange;
}

.btn-default {
  color: #45a;
  border: 2px dashed #f94;
  font-size: 22px;
}
.btn-primary {
  border: 2px dashed white;
  font-size: 22px;
}

#weather {
  margin-top: 60px;
}

footer {
  background: #ccd;
  bottom: 0;
  font-size: 16px;
  position: absolute;
  width: 100%;  
}