body {
  background-size: 100%;  
  font-family: san-serif;
  font-size: 20px;
}

h1 {
  color: #000;
  font-size: 40px; 
  margin-top: 30px;
}
#info {
  color: #000;
}

.btn-default {
  color: #45a;
  border: 1px solid #adf;
  font-size: 22px;
}
.btn-primary {
  font-size: 22px;
}

#weather {
  margin-top: 60px;
}

footer {
  background: #ccd;
  bottom: 0;
  font-size: 16px;
  position: absolute;
  width: 100%;  
}